*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}
div{
    margin: 0 auto;
    text-align: center;
    margin-top: 250px;
    width: 200px;
    background-color: white;
    padding: 20px 50px;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
}
h2{
    font-size: 18px;
    color: black;
    font-weight: 200;
    line-height: 40px;
}
button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: indigo;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}